body {
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
}

@media (min-width: 1025px) {
  header {
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: #402F2F;
    display: flex;
  }

  header .header-logo {
    height: 8vh;
    width: 50%;
  }

  header .header-logo a img {
    height: 100%;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  header .header-nav {
    height: 10vh;
    width: 50%;
    color: #f4f4f4;
  }

  header .header-nav .header-nav-list {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header .header-nav .header-nav-list li {
    width: 15%;
    text-align: center;
    font-size: 20px;
  }

  header .header-nav .header-nav-list li:last-child {
    margin: 0 3vw;
  }

  .py-4 {
    height: 90vh;
    background: url(/images/live-with-background.jpg?5b1ef75643579dba40732f58054d0b42);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .py-4 .content {
    width: 60vw;
    height: 80vh;
    background-color: #f4f4f4;
    border-radius: 5px;
    -ms-box-shadow: 0px -4px 3px -1px #aaa inset;
    -o-box-shadow: 0px -4px 3px -1px #aaa inset;
    box-shadow: 0px -4px 3px -1px #aaa inset;
  }

  .py-4 .content #my-list,
  .py-4 .content #show-shoe {
    width: 60vw;
    height: 80vh;
    position: relative;
  }

  .py-4 .content #my-list .new-post-btn,
  .py-4 .content #show-shoe .new-post-btn {
    z-index: 1;
    display: block;
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #402F2F;
    left: 51vw;
    top: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .py-4 .content #my-list .new-post-btn button,
  .py-4 .content #show-shoe .new-post-btn button {
    color: #f4f4f4;
    font-size: 25px;
  }

  .py-4 .content #my-list .new-post-btn:hover,
  .py-4 .content #show-shoe .new-post-btn:hover {
    background-color: #694e4e;
  }

  .py-4 .content #my-list .guest-header,
  .py-4 .content #show-shoe .guest-header {
    height: 20vh;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .py-4 .content #my-list .guest-header h1,
  .py-4 .content #show-shoe .guest-header h1 {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .py-4 .content #my-list .guest-body,
  .py-4 .content #show-shoe .guest-body {
    height: 60vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .py-4 .content #my-list .guest-body p,
  .py-4 .content #show-shoe .guest-body p {
    font-size: 25px;
  }

  .py-4 .content #my-list .my-list-header,
  .py-4 .content #my-list .show-shoe-header,
  .py-4 .content #show-shoe .my-list-header,
  .py-4 .content #show-shoe .show-shoe-header {
    height: 10%;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
  }

  .py-4 .content #my-list .my-list-header h1,
  .py-4 .content #my-list .show-shoe-header h1,
  .py-4 .content #show-shoe .my-list-header h1,
  .py-4 .content #show-shoe .show-shoe-header h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .py-4 .content #my-list .shoes-list,
  .py-4 .content #show-shoe .shoes-list {
    height: 90%;
    overflow: scroll;
  }

  .py-4 .content #my-list .shoes-list ul,
  .py-4 .content #show-shoe .shoes-list ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .py-4 .content #my-list .shoes-list ul .items-leave-active,
  .py-4 .content #my-list .shoes-list ul .items-enter-active,
  .py-4 .content #show-shoe .shoes-list ul .items-leave-active,
  .py-4 .content #show-shoe .shoes-list ul .items-enter-active {
    transition: opacity 0.5s, transform 0.5s ease;
  }

  .py-4 .content #my-list .shoes-list ul .items-leave-to,
  .py-4 .content #my-list .shoes-list ul .items-enter,
  .py-4 .content #show-shoe .shoes-list ul .items-leave-to,
  .py-4 .content #show-shoe .shoes-list ul .items-enter {
    opacity: 0;
    transform: translateX(50px);
  }

  .py-4 .content #my-list .shoes-list ul .items-leave,
  .py-4 .content #my-list .shoes-list ul .items-enter-to,
  .py-4 .content #show-shoe .shoes-list ul .items-leave,
  .py-4 .content #show-shoe .shoes-list ul .items-enter-to {
    opacity: 1;
  }

  .py-4 .content #my-list .shoes-list ul .items-move,
  .py-4 .content #show-shoe .shoes-list ul .items-move {
    transition: transform 0.5s;
  }

  .py-4 .content #my-list .shoes-list ul li,
  .py-4 .content #show-shoe .shoes-list ul li {
    width: 100%;
  }

  .py-4 .content #my-list .shoes-list ul li a button,
  .py-4 .content #show-shoe .shoes-list ul li a button {
    position: relative;
    height: 13vh;
    width: 100%;
    margin-top: 3vh;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
    display: flex;
    align-items: center;
  }

  .py-4 .content #my-list .shoes-list ul li a button:hover,
  .py-4 .content #show-shoe .shoes-list ul li a button:hover {
    opacity: 0.7;
    background-color: rgba(187, 187, 187, 0.1);
  }

  .py-4 .content #my-list .shoes-list ul li a button:last-child::after,
  .py-4 .content #show-shoe .shoes-list ul li a button:last-child::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    height: 13vw;
    width: 1px;
  }

  .py-4 .content #my-list .shoes-list ul li a button figure,
  .py-4 .content #show-shoe .shoes-list ul li a button figure {
    width: 13vh;
    height: 13vh;
  }

  .py-4 .content #my-list .shoes-list ul li a button figure img,
  .py-4 .content #show-shoe .shoes-list ul li a button figure img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .py-4 .content #my-list .shoes-list ul li a button figcaption,
  .py-4 .content #show-shoe .shoes-list ul li a button figcaption {
    width: 85%;
    height: 100%;
    padding: 0 10px;
  }

  .py-4 .content #my-list .shoes-list ul li a button figcaption .shoe-name,
  .py-4 .content #show-shoe .shoes-list ul li a button figcaption .shoe-name {
    font-size: 20px;
    font-weight: bold;
    height: 50%;
    padding-top: 3vh;
  }

  .py-4 .content #my-list .shoes-list ul li a button figcaption .last-maintenance,
  .py-4 .content #show-shoe .shoes-list ul li a button figcaption .last-maintenance {
    height: 50%;
    text-align: end;
    padding-top: 3vh;
  }

  .py-4 .content .show-shoe-body {
    width: 80%;
    height: 60vh;
    margin: 3vh auto 0 auto;
    padding: 5px 5px 150px 5px;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
    overflow: scroll;
    position: relative;
  }

  .py-4 .content .show-shoe-body .delete-btn {
    float: left;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .py-4 .content .show-shoe-body .delete-btn form input {
    color: #aaa;
    margin-right: 5%;
  }

  .py-4 .content .show-shoe-body .delete-btn form input:hover {
    opacity: 0.8;
  }

  .py-4 .content .show-shoe-body .show-shoe-body-header {
    display: flex;
  }

  .py-4 .content .show-shoe-body .show-shoe-body-header figure {
    width: 10vw;
    height: 10vw;
  }

  .py-4 .content .show-shoe-body .show-shoe-body-header figure img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .py-4 .content .show-shoe-body .show-shoe-body-header figcaption {
    width: 100%;
    padding: 0 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .py-4 .content .show-shoe-body .show-shoe-body-header figcaption p {
    font-size: 20px;
  }

  .py-4 .content .show-shoe-body .show-shoe-content {
    padding: 10px;
  }

  .py-4 .content .show-shoe-body .show-shoe-content p {
    white-space: pre-wrap;
  }

  .py-4 .content .card {
    width: 60vw;
    height: 80vh;
  }

  .py-4 .content .card .card-header {
    font-size: 30px;
    height: 10vh;
    text-align: center;
    padding-top: 5vh;
  }

  .py-4 .content .card h1 {
    text-align: center;
  }

  .py-4 .content .card .card-body {
    width: 50vw;
    height: 50vh;
    margin: 5vh auto;
  }

  .py-4 .content .card .card-body .logged-message {
    width: 100%;
    margin-top: 10vh;
  }

  .py-4 .content .card .card-body .logged-message p {
    font-size: 20px;
    text-align: center;
    margin-top: 3vh;
  }

  .py-4 .content .card .card-body .logged-message p a {
    line-height: 10vh;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
  }

  .py-4 .content .card .card-body .logged-message figure {
    height: 10vh;
    width: 100%;
    margin-top: 2vh;
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .py-4 .content .card .card-body .logged-message figure img {
    height: 100%;
  }

  .py-4 .content .card .card-body form {
    height: 50vh;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
  }

  .py-4 .content .card .card-body form .form-group .col-md-6 {
    width: 100%;
    margin-top: 5vh;
  }

  .py-4 .content .card .card-body form .form-group .col-md-6 .form-control {
    width: 100%;
    border-bottom: 1px solid #aaa;
  }

  .py-4 .content .card .card-body form .mb-0 {
    height: 15vh;
    display: flex;
    align-items: flex-end;
  }

  .py-4 .content .card .card-body form .mb-0 .col-md-8 {
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
  }

  .py-4 .content .card .card-body form .mb-0 .col-md-8 div a {
    line-height: 5vh;
    border-bottom: 1px solid #aaa;
  }

  .py-4 .content .card .card-body form .mb-0 .col-md-8 .btn-primary {
    height: 5vh;
    width: 7vw;
    text-align: center;
    color: #f4f4f4;
    background-color: #6299ff;
    border-radius: 3px;
    box-shadow: 3px 3px 5px -1px #aaa;
  }

  .py-4 .content .card .card-body form .mb-0 .offset-md-4 {
    text-align: end;
  }

  .py-4 .content .card .card-body form .mb-0 .offset-md-4 .btn-primary {
    height: 5vh;
    width: 7vw;
    text-align: center;
    color: #f4f4f4;
    background-color: #6299ff;
    border-radius: 3px;
    box-shadow: 3px 3px 5px -1px #aaa;
  }

  .py-4 .content .card .card-body .register {
    height: 60vh;
  }

  .py-4 .content .new-post-form .form-header,
  .py-4 .content .edit-post-form .form-header {
    width: 60vw;
    height: 20vh;
    background: url(/images/shoes-background.jpg?64980a0f8e5503ed1f8a5b4c53dc1d98);
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .py-4 .content .new-post-form .form-header .file-area,
  .py-4 .content .edit-post-form .form-header .file-area {
    width: 30%;
    height: 25vh;
    position: relative;
  }

  .py-4 .content .new-post-form .form-header .file-area .upload-file,
  .py-4 .content .edit-post-form .form-header .file-area .upload-file {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .py-4 .content .new-post-form .form-header .file-area .upload-file img,
  .py-4 .content .edit-post-form .form-header .file-area .upload-file img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .py-4 .content .new-post-form .form-header .file-area .upload-file div,
  .py-4 .content .edit-post-form .form-header .file-area .upload-file div {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949494;
  }

  .py-4 .content .new-post-form .form-header .upload-btn,
  .py-4 .content .edit-post-form .form-header .upload-btn {
    margin-top: 31vh;
  }

  .py-4 .content .new-post-form .form-body,
  .py-4 .content .edit-post-form .form-body {
    width: 50vw;
    height: 30vh;
    margin: 10vh auto 0 auto;
  }

  .py-4 .content .new-post-form .form-body .new-post-title,
  .py-4 .content .edit-post-form .form-body .new-post-title {
    width: 40vw;
    margin: 0 auto;
  }

  .py-4 .content .new-post-form .form-body .new-post-title input,
  .py-4 .content .edit-post-form .form-body .new-post-title input {
    width: 100%;
    height: 5vh;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
  }

  .py-4 .content .new-post-form .form-body .new-post-content,
  .py-4 .content .edit-post-form .form-body .new-post-content {
    width: 40vw;
    height: 30vh;
    margin: 0 auto;
  }

  .py-4 .content .new-post-form .form-body .new-post-content textarea,
  .py-4 .content .edit-post-form .form-body .new-post-content textarea {
    width: 40vw;
    height: 25vh;
    resize: none;
    margin-top: 5vh;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
    overflow: scroll;
  }

  .py-4 .content .new-post-form .submit-btn,
  .py-4 .content .edit-post-form .submit-btn {
    width: 50vw;
    margin: 10vh auto 0 auto;
    text-align: center;
  }

  .py-4 .content .new-post-form .submit-btn input,
  .py-4 .content .edit-post-form .submit-btn input {
    width: 6vw;
    height: 3vw;
    color: #f4f4f4;
    background-color: #402F2F;
    border-radius: 3px;
    box-shadow: 4px 4px 8px -1px #aaa;
  }

  .py-4 .content .new-post-form .submit-btn input:hover,
  .py-4 .content .edit-post-form .submit-btn input:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  #app {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: [head] 100px [body] auto;
  }

  #app header {
    grid-row: head;
    grid-column: 1/-1;
    background-color: #402F2F;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #app header div a img {
    width: 150px;
  }

  #app header nav {
    width: 150px;
    height: 30px;
  }

  #app header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: #f4f4f4;
  }

  #app header nav ul li {
    width: 75px;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

  #app main {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: [margin_top] 25px [content_body] auto [margin_bottom] 25px;
    height: calc(100vh - 100px);
    background: url(/images/live-with-background.jpg?5b1ef75643579dba40732f58054d0b42);
  }

  #app main .content {
    grid-column: 2/-2;
    grid-row: content_body;
    background-color: #f4f4f4;
    border-radius: 3px;
    -ms-box-shadow: 0px -4px 3px -1px #aaa inset;
    -o-box-shadow: 0px -4px 3px -1px #aaa inset;
    box-shadow: 0px -4px 3px -1px #aaa inset;
  }

  #app main .content #my-list {
    position: relative;
  }

  #app main .content #my-list .new-post-btn {
    position: fixed;
    top: calc(100vh - 110px);
    left: calc(100vw - 110px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #402F2F;
  }

  #app main .content #my-list .new-post-btn button {
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app main .content #my-list .new-post-btn:hover {
    background-color: #694e4e;
  }

  #app main .content #my-list .my-list-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid #aaa;
  }

  #app main .content #my-list .my-list-header h1 {
    font-size: 18px;
    font-weight: bold;
  }

  #app main .content #my-list .shoes-list {
    overflow: scroll;
  }

  #app main .content #my-list .shoes-list ul .items-leave-active,
  #app main .content #my-list .shoes-list ul .items-enter-active {
    transition: opacity 0.5s, transform 0.5s ease;
  }

  #app main .content #my-list .shoes-list ul .items-leave-to,
  #app main .content #my-list .shoes-list ul .items-enter {
    opacity: 0;
    transform: translateX(50px);
  }

  #app main .content #my-list .shoes-list ul .items-leave,
  #app main .content #my-list .shoes-list ul .items-enter-to {
    opacity: 1;
  }

  #app main .content #my-list .shoes-list ul .items-move {
    transition: transform 0.5s;
  }

  #app main .content #my-list .shoes-list ul li {
    width: 90%;
    height: 60px;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 201, 0.1);
    box-shadow: 4px 4px 8px -1px #aaa;
  }

  #app main .content #my-list .shoes-list ul li a button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #app main .content #my-list .shoes-list ul li a button figure img {
    width: 50px;
  }

  #app main .content #my-list .shoes-list ul li a button figcaption {
    padding-left: 10px;
  }

  #app main .content #my-list .shoes-list ul li a button figcaption .shoe-name {
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 1024px) and (max-width: 374px) {
  #app main .content #my-list .shoes-list ul li a button figcaption .shoe-name {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  #app main .content #my-list .shoes-list ul li a button figcaption .last-maintenance {
    font-size: 14px;
  }
}

@media (max-width: 1024px) and (max-width: 374px) {
  #app main .content #my-list .shoes-list ul li a button figcaption .last-maintenance {
    font-size: 12px;
  }
}


