body {
  font-family: "Playfair Display", serif;
}

@media (min-width: 768px) {
  header {
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: #402F2F;
    display: flex;
  }

  header .header-logo {
    height: 8vh;
    width: 50%;
  }

  header .header-logo a img {
    height: 100%;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  header .header-nav {
    height: 10vh;
    width: 50%;
    color: #f4f4f4;
  }

  header .header-nav .header-nav-list {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header .header-nav .header-nav-list li {
    width: 15%;
    text-align: center;
  }

  header .header-nav .header-nav-list li:last-child {
    margin-right: 3vw;
  }

  .py-4 {
    height: 90vh;
    background: url(/images/live-with-background.jpg?5b1ef75643579dba40732f58054d0b42);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .py-4 .content {
    width: 60vw;
    height: 80vh;
    background-color: #f4f4f4;
    border-radius: 5px;
    -ms-box-shadow: 0px -4px 3px -1px #aaa inset;
    -o-box-shadow: 0px -4px 3px -1px #aaa inset;
    box-shadow: 0px -4px 3px -1px #aaa inset;
  }
}


