$theme_color: #402F2F;
$theme_color_hover: #694e4e;
$inset: #5f5f5f;
$white: #f4f4f4;
$box-shadow: 0px -4px 3px -1px #aaa inset;

body {
  font-family: 'Playfair Display', serif;
  color: #1f1f1f;
}


@import "./pc";
@import "./mobile";

