@media (max-width: 1024px) {
  body {
    width: 100vw;
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
  #app {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows:
            [head] 100px
            [body] auto;
    header {
      grid-row: head;
      grid-column: 1 / -1;
      background-color: $theme_color;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      div a img {
        width: 150px;
      }
      nav {
        width: 150px;
        height: 30px;
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          color: $white;
          li {
            width: 75px;
            height: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
    main {
      position: relative;
      grid-column: 1 / -1;
      //Duplicate the same grid as the body
      display: grid;
      grid-template-columns: 5vw 1fr 5vw;
      grid-template-rows:
              [margin_top] 35px
              [content_body] calc(100vh - 100px - 60px)
              [margin_bottom] 25px;
      height: calc(100vh - 100px);
      background: url('images/live-with-background.jpg');
      .content {
        grid-column: 2 / -2;
        grid-row: content_body;
        background-color: $white;
        border-radius: 3px;
        -ms-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        -o-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        #my-list {
          position: relative;
          height: 100%;
          // guest.blade.php
          .guest-header {
            height: 30px;
            margin-top: 30px;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .guest-body {
            height: calc(100% - 60px);
            padding-top: 5px;
            font-size: 14px;
            display: grid;
            grid-template-columns: 5px 1fr 5px;
            grid-template-rows:
                    [margin-top] 14%
                    [message1] 23%
                    [message2] 23%
                    [margin-bottom] 30%;
            justify-items: center;
            .guide {
              grid-column: 2 / -2;
              grid-row: message1;
            }
            .number-of-users {
              grid-column: 2 / -2;
              grid-row: message2;
              font-size: 12px;
            }
          }
          // New button
          .new-post-btn {
            position: fixed;
            z-index: 1;
            top: calc(100vh - 110px);
            left: calc(100vw - 110px);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $theme_color;
            button {
              width: 100%;
              height: 100%;
              color: $white;
              font-size: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &:hover {
              background-color: $theme_color_hover;
            }
          }
          // index.blade.php (ListRenderingComponent.vue)
          .my-list-header {
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
            border-bottom: 1px solid #aaa;
            h1 {
              font-size: 18px;
              font-weight: bold;
            }
          }
          .shoes-list {
            overflow: scroll;
            ul {
              height: calc(100vh - 180px);
              .items-leave-active,
              .items-enter-active {
                  transition: opacity .5s, transform .5s ease;
              }
              .items-leave-to,
              .items-enter {
                  opacity: 0;
                  transform: translateX(50px);
              }
              .items-leave,
              .items-enter-to {
                  opacity: 1;
              }
              .items-move {
                  transition: transform .5s;
              }
              li {
                width: 90%;
                height: 60px;
                margin: 10px auto;
                border-radius: 3px;
                border: 1px solid rgb(201, 201, 201, 0.1);
                box-shadow: 4px 4px 8px -1px #aaa;
                position: relative;
                &:last-child::after {
                  position: absolute;
                  content: "";
                  top: 100%;
                  left: 0;
                  height: 130px;
                  width: 1px;
                }
                a button {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  figure {
                    img {
                      width: 50px;
                    }
                  }
                  figcaption {
                    padding-left: 10px;
                    .shoe-name {
                      font-size: 18px;
                      @media (max-width: 374px) {
                        font-size: 15px;
                      }
                      font-weight: bold;
                    }
                    .last-maintenance {
                      font-size: 14px;
                      @media (max-width: 374px) {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        // login and register page
        .invalid-feedback {
          color: rgb(236, 85, 85);
        }
        .card {
          height: 100%;
          padding-top: 20px;
          .card-header {
            height: 30px;
            font-size: 25px;
            text-align: center;
          }
          h1 {
            font-size: 14px;
            text-align: center;
            line-height: 20px;
          }
          .card-body {
            width: 90%;
            height: calc(100% - 70px);
            margin: 0 auto;
            .login {
              height: 100%;
              .form-group {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                .col-md-6 {
                  width: 100%;
                  height: 50px;
                  .form-control {
                    width: 100%;
                    height: 30px;
                    margin-top: 20px;
                    border-bottom: 1px solid #aaa;
                  }
                }
              }
              .mb-0 {
                height: calc(100% - 180px);
                .offset-md-4 {
                  height: 100%;
                  display: grid;
                  grid-template-columns: auto 70px auto;
                  grid-template-rows:
                          [password] 20px
                          [button] auto;
                  align-items: center;
                  div {
                    grid-row: password;
                    grid-column: 1 / -1;
                  }
                  button {
                    grid-row: button;
                    grid-column: 2 / -2;
                    width: 70px;
                    height: 40px;
                    text-align: center;
                    color: $white;
                    background-color: rgb(98, 153, 255);
                    border-radius: 3px;
                    box-shadow: 4px 4px 8px -1px #aaa;
                  }
                }
              }
            }
            .register {
              height: 100%;
              .form-group {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                .col-md-6 {
                  width: 100%;
                  height: 50px;
                  .form-control {
                    width: 100%;
                    height: 30px;
                    margin-top: 20px;
                    border-bottom: 1px solid #aaa;
                  }
                }
              }
              .mb-0 {
                height: calc(100% - 240px);
                .offset-md-4 {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  button {
                    width: 70px;
                    height: 40px;
                    text-align: center;
                    color: $white;
                    background-color: rgb(98, 153, 255);
                    border-radius: 3px;
                    box-shadow: 4px 4px 8px -1px #aaa;
                  }
                }
              }
            }
          }
        }
        .container {
          height: 100%;
          .justify-content-center {
            height: 100%;
            .col-md-8 {
              height: 100%;
              .card {
                height: 100%;
                .card-body {
                  height: calc(100% - 30px);
                  .alert-success {
                    height: 25px;
                    text-align: center;
                  }
                  .logged-message {
                    height: 100%;
                    display: grid;
                    grid-template-columns: auto 150px auto;
                    grid-template-rows: 
                          [row1] 11%
                          [row2] 11%
                          [row3] 11%
                          [row4] 11%
                          [row5] 11%
                          [row6] 22%
                          [logo] 23%;
                    justify-items: center;
                    align-items: center;
                    .row1 {
                      grid-row: row1;
                      grid-column: 1 / -1;
                    }
                    .row2 {
                      grid-row: row2;
                      grid-column: 1 / -1;
                    }
                    .row3 {
                      grid-row: row3;
                      grid-column: 1 / -1;
                      text-align: center;
                    }
                    .row4 {
                      grid-row: row4;
                      grid-column: 1 / -1;
                    }
                    .row5 {
                      grid-row: row5;
                      grid-column: 1 / -1;
                    }
                    .row6 {
                      grid-row: row6;
                      grid-column: 1 / -1;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      a button {
                        width: 150px;
                        height: 40px;
                        text-align: center;
                        color: $white;
                        background-color: rgb(98, 153, 255);
                        border-radius: 3px;
                        box-shadow: 4px 4px 8px -1px #aaa;
                        font-size: 14px;
                      }
                    }
                    figure {
                      grid-row: logo;
                      grid-column: 2 / -2;
                      img {
                        width: 150px;
                      }
                    }
                  }
                  form {
                    height: 50%;
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows:
                          [email] 50%
                          [send-btn] 50%;
                    align-items: center;
                    .col-md-6 {
                      width: 100%;
                      height: 30px;
                      input {
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid #aaa;
                      }
                      button {
                        width: 100px;
                        height: 40px;
                        text-align: center;
                        color: $white;
                        background-color: rgb(98, 153, 255);
                        border-radius: 3px;
                        box-shadow: 4px 4px 8px -1px #aaa;
                      }
                    }
                    .mb-0 {
                      .col-md-6 {
                        display: flex;
                        justify-content: center;
                      }
                    }
                  }
                  .alert-success {
                    color: rgb(42, 218, 42);
                  }
                }
              }
            }
          }
        }
        // new.blade.php
        .post-form {
          height: 100%;
          display: grid;
          grid-template-columns: 10px 1fr 10px;
          grid-template-rows:
                [image] 25%
                [content] 75%;
          .form-header {
            grid-row: image;
            grid-column: 2 / -2;
            text-align: center;
            .file-area {
              width: 100%;
              height: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              .upload-file {
                width: 100px;
                height: 100px;
                @media (max-width: 3750px) {
                  width: 85px;
                  height: 85px;
                }
                @media (max-width: 320px) {
                  width: 70px;
                  height: 70px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: contain;
                img {
                  width: 100%;
                }
                div {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid #aaa;
                  span {
                    color: #aaa;
                  }
                }
              }
            }
            input {
              height: 25%;
              font-size: 12px;
              padding-left: 20px;
            }
          }
          .form-body {
            grid-row: content;
            grid-column: 2 / -2;
            overflow-y: scroll;
            .form-group {
              margin: 10px 0;
              .post-purchase-date {
                margin: 10px 0;
                display: flex;
                flex-flow: column;
                input {
                  width: 200px;
                }
              }
              .post-title {
                display: flex;
                flex-flow: column;
                input {
                  height: 25px;
                  border-bottom: 1px solid rgb(218, 218, 218);
                }
                p {
                  text-align: right;
                }
              }
              .post-details, .post-maintenance, .post-remarks {
                display: flex;
                flex-flow: column;
                textarea {
                  height: 200px;
                  resize: none;
                  border: 1px solid rgb(218, 218, 218);
                }
                p {
                  text-align: right;
                }
              }
              .submit-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 25px 0;
                input {
                  width: 80px;
                  height: 40px;
                  text-align: center;
                  color: $white;
                  background-color: rgb(98, 153, 255);
                  border-radius: 3px;
                  box-shadow: 4px 4px 8px -1px #aaa;
                }
              }
              .post-form-label {
                margin: 5px 0;
              }
            }
          }
        }
        .user-info {
          height: 100%;
          width: 100%;
          .user-form {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 30px 1fr 30px;
            grid-template-rows:
            [name] 30%
            [email] 30%
            [others] 10%
            [send-btn] 30%;
  
            .success {
              grid-column: 2 / -2;
              grid-row: name;
              color: rgb(42, 218, 42);
              margin: 10px 0;
            }
            .user-form-group {
              height: 100%;
              label {
                display: inline-block;
                height: 30%;
              }
              input {
                height: 30%;
                border-bottom: 1px solid #aaa;
              }
              .error {
                display: inline-block;
                width: 100%;
                height: 21px;
                margin: 10px 0;
                color: rgb(236, 85, 85);
              }
            }
            .name {
              grid-column: 2 / -2;
              grid-row: name;
              display: flex;
              flex-flow: column;
              justify-content: center;
            }
            .email {
              grid-column: 2 / -2;
              grid-row: email;
              display: flex;
              flex-flow: column;
              justify-content: center;
            }
            .others {
              height: 100%;
              width: 100%;
              grid-column: 2 / -2;
              grid-row: others;
              display: flex;
              align-items: center;
              .to-password {
                width: 50%;
                height: 30px;
                display: flex;
                align-items: center;
                a {
                  border-bottom: 1px solid #aaa;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
              .is-private {
                width: 50%;
                height: 30px;
                display: flex;
                align-items: center;
                .key-image-container {
                  width: 30px;
                  height: 30px;
                  margin-left: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  position: relative;
                  .private {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    opacity: 1;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .privateKeyImage-enter-active, .privateKeyImage-leave-active {
                    transition-duration: .5s;
                    transition-property:width , opacity;
                  }
                  .privateKeyImage-enter, .privateKeyImage-leave-to {
                    width: 0;
                    opacity: 0;
                  }
                  .public {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    opacity: 0.5;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .publicKeyImage-enter-active, .publicKeyImage-leave-active {
                    transition-duration: .5s;
                    transition-property:width, opacity;
                  }
                  .publicKeyImage-enter-to, .publicKeyImage-leave {
                    width: 30px;
                    opacity: 0.5;
                  }
                  .publicKeyImage-enter, .publicKeyImage-leave-to {
                    width: 0;
                    opacity: 0;
                  }
                }
                .public-or-private {
                  height: 100%;
                  width: calc(100% - 60px);
                  display: flex;
                  align-items: center;
                  input {
                    display: none;
                  }
                  div {
                    height: 30px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
            .send-btn {
              grid-column: 2 / -2;
              grid-row: send-btn;
              display: flex;
              justify-content: center;
              align-items: center;
              .dummy-send-button {
                cursor: pointer;
                width: 80px;
                height: 40px;
                text-align: center;
                color: $white;
                background-color: rgb(98, 153, 255);
                border-radius: 3px;
                box-shadow: 4px 4px 8px -1px #aaa;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
            .passAreaOff {
              display: none;
            }
            .passAreaOn {
              position: absolute;
              z-index: 1;
              box-shadow: 4px 4px 8px -1px #aaa;
              width: 80%;
              height: 30%;
              left: 10%;
              top: 30%;
              background-color: $white;
              border: 1px solid #aaa;
              // padding: 3% 0 5% 0;
  
              display: flex;
              flex-flow: column;
              justify-content: space-around;
              align-items: center;
              .error {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 21px;
                color: rgb(236, 85, 85);
              }
              .input-password {
                border-bottom: 1px solid #aaa;
                width: 80%;
              }
              .buttons {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .cancel-btn {
                  cursor: pointer;
                  &:hover {
                    opacity: 0.7;
                  }
                }
                .submit-btn {
                  width: 80px;
                  height: 40px;
                  text-align: center;
                  color: $white;
                  background-color: rgb(98, 153, 255);
                  border-radius: 3px;
                  box-shadow: 4px 4px 8px -1px #aaa;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
            .events {
              pointer-events: none;
              opacity: 0.5;
            }
          }
        }
        #show-shoe {
          height: 100%;
          display: grid;
          grid-template-columns: 10px 1fr 10px;
          grid-template-rows:
                  [head] 30px
                  [body] auto;
          position: relative;
          .new-post-btn {
            position: fixed;
            z-index: 1;
            top: calc(100vh - 110px);
            left: calc(100vw - 110px);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $theme_color;
            button {
              width: 100%;
              height: 100%;
              color: $white;
              font-size: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &:hover {
              background-color: $theme_color_hover;
            }
          }
          .show-shoe-header {
            grid-row: head;
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid #aaa;

            position: relative;
            .likes {
              position: fixed;
              z-index: 2;
              top: calc(100vh - 190px);
              left: calc(100vw - 85px);

              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #aaa;
              border-radius: 50%;
              background-color: $white;
              form {
                button {
                  img {
                    width: 34px;
                    height: 34px;
                  }
                  input {
                    display: none;
                  }
                }
              }
              .count {
                display: none;
              }
            }
            .count-mobile {
              position: fixed;
              z-index: 3;
              top: calc(100vh - 140px);
              left: calc(100vw - 62px);
            }
          }
          .show-shoe-body {
            width: 100%;
            grid-row: body;
            grid-column: 2 / -2;
            display: grid;
            grid-template-rows:
                  [delete] 20px
                  [image] 120px
                  [content] auto;
            .delete-btn {
              grid-row: delete;
              text-align: right;
              color: #aaa;
              &:hover {
                opacity: 0.8;
              }
            }
            .show-shoe-body-header {
              grid-row: image;
              width: 100%;
              height: 100px;
              display: flex;
              figure {
                width: 100px;
                height: 100px;
                @media (max-width: 320px) {
                  width: 80px;
                  height: 80px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: contain;
                img {
                  width: 100%;
                }
              }
              figcaption {
                display: flex;
                flex-flow: column;
                padding-left: 5px;
                p {
                  height: 50px;
                }
                .last-maintenance {
                  padding-top: 25px;
                }
              }
            }
            .show-shoe-content {
              // The rationale of 320px is as follows.
              // header 100px, margin of content-body 25px * 2, title 30px, delete 20px, image row 120px
              height: calc(100vh - 320px);
              padding: 10px;
              overflow-y: scroll;
              position: relative;
              .show-group {
                margin: 30px 0;
                .label {
                  font-weight: bold;
                  border-bottom: 1px solid rgb(231, 231, 231);
                }
                p {
                  white-space:pre-wrap;
                }
              }
              .show-remarks::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 250px;
              }
            }
          }
        }
        #change-password {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 50px 1fr 50px;
          grid-template-rows:
                  [header] 10%
                  [form] 90%;
          align-items: center;
          .header {
            grid-row: header;
            grid-column: 1 / -1;
            height: 100%;
            width: 100%;
            border-bottom: 1px solid #aaa;
            display: flex;
            align-items: center;
            h1 {
              width: 100%;
              text-align: center;
              font-size: 25px;
              font-weight: bold;
            }
          }
          form {
            grid-row: form;
            grid-column: 2 / -2;
            height: 90%;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows:
                  [current] 28%
                  [new] 28%
                  [confirm] 28%
                  [send-btn] 16%;
            align-items: center;
            .current-password {
              height: 100%;
              grid-row: current;
              grid-column: 1 / -1;
              display: flex;
              flex-flow: column;
              justify-content: center;
              label {
                display: inline-block;
                height: 25%;
              }
              input {
                height: 25%;
              }
            }
            .new-password {
              height: 100%;
              grid-row: new;
              grid-column: 1 / -1;
              display: flex;
              flex-flow: column;
              justify-content: center;
              label {
                display: inline-block;
                height: 25%;
              }
              input {
                height: 25%;
              }
            }
            .confirmation {
              height: 100%;
              grid-row: confirm;
              grid-column: 1 / -1;
              display: flex;
              flex-flow: column;
              justify-content: center;
              label {
                display: inline-block;
                height: 25%;
              }
              input {
                height: 25%;
              }
            }
            .f-ct input {
              width: 100%;
              border-bottom: 1px solid #aaa;
            }
            .password-submit {
              height: 100%;
              grid-column: 2 / -2;
              grid-row: send-btn;
              display: flex;
              justify-content: center;
              align-items: center;
              input {
                width: 80px;
                height: 40px;
                text-align: center;
                color: $white;
                background-color: rgb(98, 153, 255);
                border-radius: 3px;
                box-shadow: 4px 4px 8px -1px #aaa;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
            .error {
              color: rgb(236, 85, 85);
            }
          }
        }
      }
    }
  }
}