@media (max-width: 1024px) {
  .social {
    background: url('/images/wooden-wall2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 100px);
    width: 100vw;
    overflow-y: scroll;
    .social-content {
      width: 100%;
      height: 100%;
      .social-list {
        width: 100%;
        height: 100%;
        &:last-child::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          height: 130px;
          width: 1px;
        }
        li {
          width: 100%;
          height: 100px;
          margin: 10px 0;
          background-color: rgba(228, 228, 228, 0.85);
          display: grid;
          grid-template-columns: 100px auto;
          grid-template-rows: [list] 100px;
          &:hover {
            opacity: 0.7;
          }
          .social-img-container {
            grid-column: 1 / -2;
            grid-row: list;
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .social-img-frame {
              width: 80px;
              height: 80px;
              border: 1px solid #aaa;
              object-fit: contain;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
              }
              .no-image {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(216, 216, 216);
                color: $white;
              }
            }
          }
          .social-post-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows:
                    [title] 50%
                    [others] 50%;
            align-items: center;
            overflow: hidden;
            .title {
              grid-column: 1 / -1;
              grid-row: title;
              font-size: 20px;
              overflow: hidden;
            }
            .others {
              grid-column: 1 / -1;
              grid-row: others;
              font-size: 15px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                width: 50%;
              }
              .likes {
                width: 50%;
                padding-right: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                form {
                  width: 24px;
                  height: 24px;
                  margin-right: 3px;
                  .like-btn {
                    img {
                      width: 24px;
                      height: 24px;
                    }
                    input {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .list-margin {
        width: 1px;
        height: 200px;
      }
    }
  }
}